* {
  margin: 0;
  padding: 0;
}
header {
  background-color: #2f333c;
  height: 200px;
}
.menu {
  text-align: right;
  margin: auto;
  padding-top: 5px;
  width: 974px;
  padding-right: 50px;
}
.menu > a {
  color: white;
  padding: 2px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.menu > a:hover {
  background: #e76c2f;
}
.logo {
  padding-top: 10px;
  margin: auto;
  width: 974px;
  padding-left: 50px;

  font-family: "ABeeZee", serif;
  color: #ffffff;
  text-align: left;
  font-size: 60px;
}
.logo-short {
  margin: auto;
  width: 974px;
  padding-left: 50px;

  font-family: "Roboto", serif;
  color: #ffffff;
  text-align: left;
  font-size: 19px;
  margin-top: -8px;
}
.about {
  padding-top: 20px;
  margin: auto;
  width: 974px;
  padding-left: 50px;
  text-align: left;
}
.btn_about {
  border: none;

  background-color: #e76c2f;
  font-family: "Roboto", serif;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  width: 120px;
  height: 35px;
}
.btn_about:hover {
  background-color: #d0632c;
  cursor: pointer;
}
body {
  text-align: center;
}
main {
  width: 1024px;
  margin: auto;
  background-color: whitesmoke;
}
.heading {
  margin: auto;
  text-align: left;
  width: 937px;
  padding-top: 30px;
  padding-left: 87px;

  font-family: "Roboto", serif;
  font-size: 30px;
}
figure {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  padding: 20px 0px;
  width: 1024px;
}
.project {
  margin: 8px 8px;
  padding: 5px;
  border-style: solid;
  border-color: green;
  font-family: "Roboto", serif;
}
figcaption {
  display: flex;
  flex-wrap: wrap;
}
.project-logo-lang {
  padding-top: 2px;
}
.project-titel {
  padding-left: 7px;
  margin: auto 0;
}

footer {
  background-color: #2f333c;
  height: 100%;
  width: 1024px;
  text-align: center;
  margin: auto;
}

.footer-contact-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: auto;
  padding-top: 15px;
}
.footer-contact {
  text-align: center;
  margin: auto;
  padding: 15px 0px;

  color: #ffffff;
  font-family: "Roboto", serif;
  font-size: 14px;
}
