* {
  margin: 0;
  padding: 0;
}
header {
  background-color: #2f333c;
  height: 200px;
}
.menu {
  text-align: right;
  margin: auto;
  padding-top: 5px;
  padding-right: 87px;
  width: 937px;
}
.menu > a {
  color: white;
  padding: 2px;
  text-decoration: none;
  font-family: "ABeeZee", sans-serif;
  font-size: 14px;
}
.menu > a:hover {
  background: #e76c2f;
}
.logo {
  padding-top: 10px;
  margin: auto;
  width: 937px;

  font-family: "Rokkitt", serif;
  color: #ffffff;
  text-align: left;
  font-size: 60px;
  padding-left: 87px;
}
.logo-short {
  margin: auto;
  width: 937px;

  font-family: "ABeeZee", serif;
  color: #ffffff;
  text-align: left;
  font-size: 19px;
  margin-top: -8px;
  padding-left: 87px;
}
.about {
  padding-top: 20px;
  margin: auto;
  width: 937px;
  padding-left: 87px;

  font-family: "Rokkitt", serif;
  text-align: left;
}
.btn_about {
  border: none;

  background-color: #e76c2f;
  font-family: "Rokkitt", serif;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  width: 135px;
  height: 41px;
}
.btn_about:hover {
  background-color: #d0632c;
  cursor: pointer;
}
body {
  text-align: center;
}
main {
  width: 1024px;
  margin: auto;
  background-color: whitesmoke;
}
.heading {
  margin: auto;
  text-align: left;
  width: 937px;
  padding-top: 30px;
  padding-left: 87px;

  font-family: "Rokkitt", serif;
  font-size: 30px;
}
figure {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  padding: 20px 0px;
  width: 1024px;
}
.project {
  margin: 8px 8px;
  padding: 5px;
  border-style: solid;
  border-color: green;
}

footer {
  display: flex;
  background-color: tomato;
  height: 30px;
  width: 984px;
  text-align: center;
  margin: auto;
  padding: 20px 20px;
}
